:root {
  --bs-blue: #5e9fff;
  --bs-indigo: #955eef;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-pinkTua: #ff69b4;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-orangeTua: #ff9d39;
  --bs-green: #198754;
  --bs-tomato: #ff6347;
  --bs-redMuda: #ff3b1f;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-success: #4b9b6e;
  --bs-info: #0dcaf0;
  /* --bs-danger: #ff69b4; */
  --bs-coklat: #874b0f;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg,
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0));
}

@font-face {
  font-family: "valorant";
  src: url("../layout/font/valorant.ttf");
}

#carouselExampleFade {
  height: 550px;
}

section .akun {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--bs-gray);
  z-index: 100;
}

section .akun i {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  border: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.15s ease;
}

.container h3 {
  font-family: "valorant";
  color: #fff;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 40px;
  margin: -5px;
}

.loaderdasboard {
  padding: 5px;
  top: 5px;
}

.loaderdasboard img {
  position: absolute;
  top: -2px;
  left: 10;
  display: none;
}

section {
  position: relative;
  width: 100%;
  padding: 20px;
  background: slategray;
  overflow: hidden;
}

.card-setcuti {
  background-color: var(--bs-orange);
}

.card-laporan {
  background-color: var(--bs-indigo);
  position: relative;
}

.card-convert {
  background-color: var(--bs-danger);
  position: relative;
}

.card-gaji {
  background-color: var(--bs-success);
  position: relative;
}

.card-title {
  position: relative;
}

/* style icon card */
.card-laporan #reportlogo {
  font-size: 110px;
  position: absolute;
  right: 10px;
  top: 65px;
  color: #510bc4;
}

.card-convert #reportlogo {
  font-size: 110px;
  position: absolute;
  right: 10px;
  top: 58px;
  color: #ba202f;
}

.card-gaji #reportlogo {
  font-size: 120px;
  position: absolute;
  right: 10px;
  top: 58px;
  color: #146c43;
}

.card-setcuti #reportlogo {
  font-size: 120px;
  position: absolute;
  right: 10px;
  top: 58px;
  color: #e46a00;
}

/* end style */
.card-text {
  position: relative;
}

.laporanCuti {
  border-color: var(--bs-pink);
  background-color: var(--bs-pink);
}

.laporanCuti:hover {
  border-color: var(--bs-pinkTua);
  background-color: var(--bs-pinkTua);
}

/* button laporan */
.buttonLaporan {
  position: relative;
  background-color: var(--bs-purple);
  border: none;
  padding: 7px;
  width: 90px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.buttonLaporan:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #97b1bf;
  color: #000;
}

.buttonLaporan:after {
  content: "";
  background: #f1c40f;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.buttonLaporan:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

/* end button laporan */
/* button convert */
.buttonConvert {
  position: relative;
  background-color: var(--bs-pink);
  border: none;
  padding: 7px;
  width: 90px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.buttonConvert:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #97b1bf;
  color: #000;
}

.buttonConvert:after {
  content: "";
  background: #f1c40f;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.buttonConvert:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

/* end button convert */

/* button  hapus gaji */
.buttonGaji {
  position: relative;
  background-color: var(--bs-teal);
  border: none;
  padding: 7px;
  width: 90px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.buttonGaji:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #97b1bf;
  color: #000;
}

.buttonGaji:after {
  content: "";
  background: #f1c40f;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.buttonGaji:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

/* end button gaji */
/* button set gaji */
.setGaji {
  position: relative;
  background-color: var(--bs-teal);
  border: none;
  padding: 7px;
  width: 90px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.setGaji:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #97b1bf;
  color: #000;
}

.setGaji:after {
  content: "";
  background: #f1c40f;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.setGaji:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

/* end button set gaji */
/* button set cuti */
.setCuti {
  position: relative;
  background-color: var(--bs-orangeTua);
  border: none;
  padding: 7px;
  width: 90px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.setCuti:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #97b1bf;
  color: #000;
}

.setCuti:after {
  content: "";
  background: #f1c40f;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.setCuti:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

/* end button */
/* setmutasi */
.card-mutasi {
  background-color: var(--bs-coklat);
  position: relative;
}

.card-mutasi #reportlogo {
  font-size: 120px;
  position: absolute;
  right: 10px;
  top: 58px;
  color: #cc7000;
}

.setMutasi {
  position: relative;
  background-color: var(--bs-orange);
  border: none;
  color: #fff;
  padding: 7px;
  width: 90px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.setMutasi:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #97b1bf;
  color: #000;
}

.setMutasi:after {
  content: "";
  background: #f1c40f;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.setMutasi:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

/* end mutasi */

/* setbpjs */
.card-bpjs {
  background-color: var(--bs-tomato);
  position: relative;
}

.card-bpjs #reportlogo {
  font-size: 120px;
  position: absolute;
  right: 10px;
  top: 42px;
  color: #fd5133;
}

.setbpjs {
  position: relative;
  background-color: #fd5133;
  border: none;
  color: #fff;
  padding: 7px;
  width: 90px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.setbpjs:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #97b1bf;
  color: #000;
}

.setbpjs:after {
  content: "";
  background: #fd5133;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.setbpjs:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

/* end bpjs */

/* atasan */
/* setbpjs */
.card-atasan {
  background-color: #000080;
  position: relative;
}

.card-atasan #reportlogo {
  font-size: 120px;
  position: absolute;
  right: 10px;
  top: 42px;
  color: #020255;
}

.setatasan {
  position: relative;
  background-color: #020255;
  border: none;
  color: #fff;
  padding: 7px;
  width: 90px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.setatasan:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #97b1bf;
  color: #000;
}

.setatasan:after {
  content: "";
  background: #fd5133;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.setatasan:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.importFile {
  position: relative;
  background-color: #660000;
  border: none;
  color: #fff;
  padding: 7px;
  width: 90px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.importFile:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #97b1bf;
  color: #000;
}

.importFile:after {
  content: "";
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.importFile:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

/* end bpjs */
/* end atasan */

.footer {
  /* position: fixed; */
  height: 5.5em;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #263238;
  text-align: center;
  color: #f4f4f4;
}

.icons {
  padding-top: 1rem;
}

.company-name {
  font-size: 12px;
  margin-top: 0.5rem;
}

.setbpjs {
  position: relative;
  background-color: #fd5133;
  border: none;
  color: #fff;
  padding: 7px;
  width: 90px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  section {
    position: relative;
    width: 100%;
    /* height:100vh; */
    background: slategray;
    overflow: hidden;
  }

  .card-laporan #reportlogo {
    font-size: 130px;
    position: absolute;
    right: 10px;
    top: 55px;
    color: #510bc4;
  }

  .container h3 {
    font-family: "valorant";
    color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 30px;
    margin: -5px;
  }

  .footer-content .row h4 {
    font-size: 15px;
  }
}

/* for tablet */
@media (min-width: 768px) {
  .card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}