* {
  font-family: "Roboto", sans-serif;
}

.loader {
  width: 10%;
  margin: auto;
  position: flex;
  display: none;
}

.notiv-gagal {
  width: 630px;
  height: 350px;
  padding: 20px;
  background: #718ee3;
  position: fixed;
  top: 50%;
  left: 40%;
  margin-top: -120px;
  margin-left: -220px;
  border-radius: 20px;
}

.notiv-gagal span {
  float: left;
  margin-top: 40px;
  color: white;
  font-size: 30px;
  margin-top: 5em;
  text-transform: uppercase;
}

.notiv-gagal img {
  display: inline-block;
  width: 20em;
  height: 15em;
  float: right;
}

.notiv-gagal a {
  display: block;
  text-decoration: none;
  margin-top: 16em;
  text-transform: uppercase;
}

/* done */
.notiv-berhasil {
  width: 630px;
  height: 350px;
  padding: 20px;
  background: #718ee3;
  position: fixed;
  top: 50%;
  left: 40%;
  margin-top: -120px;
  margin-left: -220px;
  border-radius: 20px;
}

.notiv-berhasil span {
  float: left;
  margin-top: 40px;
  color: white;
  font-size: 30px;
  margin-top: 5em;
  text-transform: uppercase;
}

.notiv-berhasil img {
  display: inline-block;
  width: 20em;
  height: 15em;
  float: right;
}

.notiv-berhasil a {
  display: block;
  text-decoration: none;
  margin-top: 16em;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  .notiv-gagal {
    width: 30em;
    height: 14em;
    left: 49%;
  }

  .notiv-gagal span {
    float: left;
    margin-top: 50px;
    font-size: 20px;
  }

  .notiv-gagal img {
    width: 9em;
    height: 9em;
  }

  .notiv-gagal a {
    margin-top: 9.5em;
  }

  .notiv-berhasil {
    width: 30em;
    height: 14em;
    left: 49%;
  }

  .notiv-berhasil span {
    float: left;
    margin-top: 50px;
    font-size: 20px;
  }

  .notiv-berhasil img {
    width: 10em;
    height: 9em;
  }

  .notiv-berhasil a {
    margin-top: 9.5em;
  }

  .pagination {
    font-size: 14px;
  }
}